* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#gen-guest {
    background-color: #000;
    width: 120px;
    height: 50px;
    margin: 10px 30px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    a {
        color: #fff;
    }
}
li {
    list-style: none;
    a {
        text-decoration: none;
        color: white;
        .card {
            background-color: rgb(133, 27, 0);
            width: calc(100% - 60px);
            height: 100px;
            margin: 10px 30px;
            text-align: center;
        }
    }
}
// ----------------------------------------------------
// Page informativa sui clienti
#info {
    background-color:rgb(133, 27, 0);
    color: white;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
//----------------------------------------------------
// Registrazione nuovo cliente
#form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 350px auto;
    input {
        margin: 10px 0;
        padding: 10px;
    }
    h1 {
        text-align: center;
    }
}