* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    a {
        text-decoration: none;
        color: white;
        .card {
            background-color: rgb(133, 27, 0);
            width: calc(100% - 60px);
            height: 100px;
            margin: 10px 30px;
            text-align: center;
        }
    }
}